h1 {
    
    font-family: "Libre Barcode 39 Text";
    font-weight: 100px;

}



p {

    font-family: 'Staatliches', cursive;
    font-weight: 50px;

}

h2 {

    font-family: 'Taprom', cursive;
    font-weight: 150px;


}

p2 {

    font-family: 'Lato', sans-serif;



}
